.health-status-container {
  background-color: white; /* White background */
  border-radius: 12px;
  padding: 16px;
  flex: 1; /* Takes remaining space in the flex container */
  margin-top: -25px;
  height: 150px; /* Adjusted to align .details-link with .dashboard-period */
  display: flex;
  flex-direction: column; /* Stack cards and details vertically */
}

.health-status-cards {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Reduced gap to fit cards */
  flex: 1; /* Allow cards to take available space */
}

.health-card {
  background-color: #E0F2FE;
  border-radius: 12px;
  padding: 12px; /* Reduced padding to fit in smaller height */
}

.health-card-header {
  display: flex;
  align-items: center;
  gap: 4px; /* Space between image and label */
  margin-bottom: 4px; /* Space below the header */
}

.health-icon {
  width: 52px; /* Set image width */
  height: 48px; /* Set image height */
  object-fit: contain; /* Ensure the image scales properly */
}

.health-label {
  font-size: 18px;
  font-weight: 650;
  color: #023c92;
}

.status-bar {
  background-color: #e6e8eb;
  height: 8px;
  border-radius: 50px;
  margin: 4px 4px;
  margin-bottom: 4px;;
  overflow: hidden;
}

.status-fill {
  height: 100%;
}

.health-date {
  font-size: 12px;
  color: #A0AEC0;
}

.details {
  display: flex;
  justify-content: flex-end; /* Right-align the Details link */
}

.details-link {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 70px;
  gap: 4px;
  font-size: 14px;
  color: #023c92;
  text-decoration: none;
}